.order-summary {
    display: flex;
    flex-direction: column;
    background-color: var(--order-page-summary-block-color);
    padding: 20px 40px;
}

.order-total-cost-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: var(--order-delimiter-style);
    border-bottom: var(--order-delimiter-style);
}

.order-product-summary-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-confirm-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}