.order-page {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background: var(--order-form-gradient);
}

.order-page-content {
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.order-summary-block {
    flex: 1;
    font-weight: var(--order-page-highlight-font-weight);
}

.order-product-summary-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-break: break-all;
}

.order-page-caption {
    display: flex;
    flex-direction: column;
}

.order-total-cost-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: var(--order-delimiter-style);
    border-bottom: var(--order-delimiter-style);
}

.order-summary {
    display: flex;
    flex-direction: column;
    background-color: var(--order-page-summary-block-color);
    padding: 20px 40px;
}

.order-page-content-block {
    flex: 2;
    background-color: var(--order-page-content-block-color);
    padding: 19px 32px;
    word-break: break-all;
}