.order-page {
    min-height: 90vh;
    background: var(--order-form-gradient);
}

.order-page-content {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .order-page-content {
        flex-direction: column;
    }
}

.order-summary-block {
    flex: 1;
    font-weight: var(--order-page-highlight-font-weight);
}

.price-tag {
    word-break: break-all;
}

.order-page-content-block {
    flex: 3;
    background-color: var(--order-page-content-block-color);
    padding: 19px 32px;
    word-break: break-all;
}