.form-paragraph-sign {
    display: flex;
    flex-direction: row;
    justify-content: start;

    align-items: center;
}

.form-paragraph-circle-number {
    width: 20px;
    height: 20px;
    background-color: var(--form-paragraph-dot-color);
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: #6F7482;
}

.form-paragraph-text {
    margin-left: 1rem;
    font-weight: bold;
}
