.round-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    width: 3rem;
    height: 3rem;
    user-select: none;
    border-radius: 50%;
}