.light-theme {
    font-size: var(--global-text-size);

    --global-text-color: #e795da;
    --global-primary-title-size: 2rem;
    --global-text-size: 1em;
    --global-color-primary: #70c963;
    --global-color-primary-highlight: #34bd1f;
    --global-color-secondary: #779fa1;
    --global-color-warning: #e28413;
    --global-color-danger: #ff6542;
    --global-background-color: #339557;

    --navbar-background-color: #ffffff;

    --title-text-shadow-color: #ffffff;
    --title-unimportant-subtext-color: rgba(255, 255, 255, 0.5);;

    --main-page-gradient: linear-gradient(
        240.51deg,
        #22ff004f 4.27%,
        #07202CD9 114.23%);

    --order-form-gradient: radial-gradient(
        59.59% 160.1% at 42.67% 40.41%,
        #22ff001b 10%,
        #22ff005d 40%,
        #07202CD9 100%);

    --order-page-content-block-color: #ffffff;
    --order-page-summary-block-color: rgba(217, 217, 217, 0.36);;

    --product-card-color: #e7e7e7;

    --app-panel-back-color: #2960233c;

    --error-color: rgb(197, 0, 0);
    --success-color: rgb(7, 197, 0);
}