.main-frame {
    min-height: 90vh;
    width: 100%;
}

.title-page {
    z-index: 0;
    height: 90vh;
    background: var(--main-page-gradient);   
}

.scratch-mark {
    z-index: 1;
    position: absolute;
    transform: rotate(-4deg);
    height: 100vh;
    left: 15vw;
    top: -3vh;
}

.bottles {
    position: absolute;
    height: 60vh;
    top: 30vh;
    left: 60vw;
}

.big-bottle {
    position: relative;
    object-fit: cover;
    height: 100%;
}

.small-bottle {
    position: absolute;
    object-fit: cover;
    bottom: 0%;
    left: 60%;
    height: 65%;
}

.main-page-title-text {
    text-shadow: 0px 4px 10px var(--title-text-shadow-color);
    width: min-content;
    font-size: 5rem;
}

.main-page-text {
    z-index: 1;
    position: absolute;
    left: 10vw;
    top: 20vh;
}

.main-page-title-subtext {
    margin-top: 10vh;
}

.main-page-title-description {
    width: 30vw;
    font-size: 2rem;
}

.buy-button {
    font-size: 1.5rem;
}

.slogan {
    color: var(--title-unimportant-subtext-color);
    font-size: 1rem;
}

.main-page-block {
    min-height: 100vh;
    background: var(--order-form-gradient);
}

/* .product-display-container {
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}

.product-display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vw;
    width: 60vw;
    padding: 1rem;
    background-color: var(--app-panel-back-color);
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.product-box:hover img {
    box-shadow: 0px 0px 50px 50px rgba(255, 255, 255, 0.751);
    background-color: rgba(255, 255, 255, 0.751);
}

.product-image-container {
    height: 80%;
}

.product-image {
    height: 100%;
    object-fit: cover;
}

.product-button-container {
    flex-grow: 2;
    display: flex;
    align-items: center;
} */

.middle-page-container {
    width: 60vw;
}