.main-frame {
    min-height: 90vh;
    width: 100%;
}

.title-page {
    z-index: 0;
    height: 90vh;
    background: linear-gradient(
        240.51deg,
        #22ff004f 4.27%,
        #07202CD9 114.23%);
}

.scratch-mark {
    z-index: 1;
    position: absolute;
    transform: rotate(-4deg);
    height: 100vh;
    left: 15vw;
    top: -3vh;
}

.bottles {
    position: absolute;
    height: 60vh;
    top: 30vh;
    left: 60vw;
}

.big-bottle {
    position: relative;
    object-fit: cover;
    height: 100%;
}

.small-bottle {
    position: absolute;
    object-fit: cover;
    bottom: 0%;
    left: 60%;
    height: 65%;
}

.main-page-title-text {
    text-shadow: 0px 4px 10px var(--title-text-shadow-color);
    width: min-content;
    font-size: 5rem;
}

.main-page-text {
    z-index: 1;
    position: absolute;
    left: 10vw;
    top: 20vh;
}

.main-page-title-subtext {
    margin-top: 10vh;
}

.main-page-title-description {
    width: 30vw;
    font-size: 2rem;
}

.buy-button {
    font-size: 1.5rem;
}

.slogan {
    color: var(--title-unimportant-subtext-color);
    font-size: 1rem;
}