.rounded-button {
    background-color: white;
    width: fit-content;
    border-radius: 2rem;
}

.rounded-button-error {
    color: var(--error-color);
}

.rounded-button-success {
    color: var(--success-color);
}

.rounded-button-big {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rounded-button-small {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}