.products-page {
    min-height: 90vh;
    border-top: 2px solid black;
    background: white;
}

.products-page-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}

.product-container {
    background-color: var(--product-card-color);
    flex-grow: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}