body {
  font-family: "Squares Bold";
  margin: 0;
  padding: 0;
}

.app-top-bar {
  position: sticky;
  z-index: 100;
  height: 10vh;
  width: 100%;
}

@font-face {
  font-family: 'Squares Bold';
  src: local('Squares Bold'), url(./fonts/Squares\ Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: local('Montserrat Regular'), url(./fonts/Montserrat-Regular.otf) format('opentype');
}